* {
	margin: 0;
	padding: 0;
}

div#map {
	width: 100%;
	height: 85vh;
	background-color: grey;
}

#btn-buscar {
	width: 100%;
	background-color: #FCB425;
	border: none;
	height: 70px;
	font-size: 18px;
}
